li {
  padding: 5px;
  margin: 5px;
  background: #1aee07;
}
.module-burger1 {
  float: left;
  width: 32%;
  margin-right: 2%;
  height: 391px;
  position: relative;
}
.module-burger2 {
  float: right;
  width: 32%;
  margin-right: 2%;
  height: 391px;
  position: relative;
}

.ul2 {
  padding: 5px;
  margin: 5px;
  background: brown;
  float:right;
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
  float: left;
}

.form-group {
  margin-bottom: 5px;
  float: left;
}
